<h1>Bestelformulier</h1>
<form [formGroup]="bestelformulier" (ngSubmit)="onSubmit()">
    <div class="formGroup">
        <label for="winkel">Kies winkel:
           <select class="formControl" id="winkel" formControlName="winkel" required>
            <option value="">Kies een winkel</option>
            <option *ngFor="let winkel of winkels" [ngValue]="winkel.naam" >{{winkel.naam}}</option>
           </select>
          <div *ngIf="winkel.errors?.['required']">
            <p class="invoerInvalid">Winkel moet geselcteerd worden!</p>
          </div>
        </label>
    </div>
    <div class="formGroup">
        <label >Kies groente:
            <select class="formControl" id="groente" formControlName="groente" required>
                <option value="">Kies een groente</option>
                <option *ngFor="let groente of groentes" [ngValue]="groente" >{{groente[0]}} ({{groente[1]}}/{{groente[2]}})</option>
            </select>
          <div *ngIf="groente.errors?.['required']">
            <p class="invoerInvalid">Groente moet geselcteerd worden!</p>
          </div>
            <label>Aantal/gewicht
                <input formControlName="aantal" type="number">
              <div *ngIf="aantal.errors?.['min']">
                <p class="invoerInvalid">Aantal/gewicht moet hoger dan nul zijn!</p>
              </div>
              <div *ngIf="aantal.errors?.['required']">
                <p class="invoerInvalid">Aantal/gewicht is verplicht!</p>
              </div>
            </label>
        </label>
    </div>
    <button type="submit" class="btn btn-primary"  (click)="sendData()">Bestel</button>
</form>
<div *ngIf="winkelmandjeLeeg===false">
  <app-winkelmandje></app-winkelmandje>
</div>

